
/* Header Styling */
.navbar{
  background-color:#c00707;
  overflow:hidden;
  height:50px;
  top:0px;
  position: fixed;
  z-index: 1;
  width:100%;
}

.navbar a{
  float:left;
  display:block;
  color:#fff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 24px;

}

select option {
  font-size:14px;
  color: black;
  font-weight:500;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select{
  font-size:14px;
  color: #c00707;
  font-weight:600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.navbar a:hover{
  background-color:#ddd;
  color:#000
}

/* Sidebar Styling */
.side-nav{
  height:100%;
  position:fixed;
  width:250px;
  z-index:1;
  top:50px;
  left:0;
  background-color:#080808;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav #toggleButton2{
  position:absolute;
  top:10px;
  right: 0px;
  font-size:24px;
  margin-left:50px;
}

.form-group-sm{
  padding-bottom: 20px;
  padding-left: 30px;
}

.form-group-sm label {
  color:red;
  font-size:16px;
}

.main{
  transition:padding-left 0.5s;
  margin-left: 25px;
  width:100%;
  padding-top: 70px;
}


@media (max-width: 990px) {
  .main {
    padding-right: 30px;
    margin-left: 15px;
  }
}
